.back {
  background: linear-gradient(156deg, #380744 13.94%, #010C1B 41.04%, #380744 62%, #010C1B 88.45%);
  background-image: url("./assets/HomePage.png");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.curs {
  cursor: pointer;
}

@font-face {
  font-family: "pusab";
  src: url("../public/fonts/bit-pusab.ttf") format("truetype");
}
.perman{
  position: sticky;
  top: 0;
}
.navbar{
  z-index:20; 
  background: rgba(0, 0, 0, 0.393);
  backdrop-filter: blur(10px);
  transition: .5s ease-in-out;
}
.menu {
  position: relative;
  text-decoration: none;
  transition: all 0.35s ease;
}
.menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: rgb(253 224 71/1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: bottom left;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.menu:hover {
  color: rgb(253 224 71/1);
}
.menu:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.astro{
  margin-left: 15rem;
}
.astro > img{
  max-width: 22rem;
}
.downbar{
  min-height: 0vh;
  background-size: auto;
  width: 100%;
  margin: 0;
  padding: 22px;
}
@media screen and (max-width: 768px){
  .schd{
    display: none;
  }
  .astro{
    margin: 0;
    padding: 0;
    align-self: center;
  }
  .about_cont{
    flex-direction: column;
  }
  .astro_content{
    margin: 20px;
    padding: 0;
    z-index: 5;
  }
  .astro_content > h1{
    font-size: 0.9rem;
  }
  .astro_img{
    position: relative;
    z-index: 1;
  }
  .meteor{
    display: none;
  }
}

@media screen and (max-width: 1240px) and (min-width: 768px){
  .schd{
    display: flex;
    justify-content: space-around;             
  }    
  .schd1{
    gap: 2rem;            
    padding-left: 100px;      
  }
  .astro{
    margin-left: 4rem;
  }
  .astro > img{
    max-width: 17rem;
  }
  .astro_content{
    margin: 20px;
    padding: 0px;
    padding-right: 7.5px;
    z-index: 5;
  }
  .astro_content > h1{
    font-size: 0.9rem;
  }
  .meteor{
    display: none;
  }
}